{% extends "encyclopedia/layout.html" %}
{% load markdownify %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if  entries%}
    {{ entries | markdownify }}
    <a href="{% url 'wiki:edit_markdown_view' file_path=title%}">Edit Page</a>
    {% elif None %}
    <h4>Request Not Found!</h4>
    {% else %}
        <h4>Request Not Found!</h4>
        <ul>
            {% for match in matches %}
            <p>Here are some of the related results to your search "{{ query }}"</p>
            <li><a href="/wiki/{{match}}">{{ match }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    

{% endblock %}