{% extends "auctions/layout.html" %}
{% load i18n %}


{% block body %}

    <div class="container-fluid mt-3">
        <h3>Listing: {{list.title}}</h3><hr>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ list.image.url }}" alt="{{list.image}}" width="400px" height="400px">
            </div>
            <div class="col-md-6">
                <h5>Amount:<span class="text-info"> ${{list.bid_amount | floatformat:2}}</span></h5>
                <p>{{list.bid | length}} bid(s) so far.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="mt-4">{{ list.description }}</p>
                <h5>Details</h5>
                <ul>
                    <li>Listed by: {{list.user.username| title}}</li>
                    <li>Category: {{list.category}}</li>
                </ul>
            </div>
        </div>
    </div>

  
{% endblock body %}